@using homework_3._4._24.data;
@model ContributorViewModel

<div b-2ya7vgwtda class="container">
    <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">
        <div>
            <h1>Contributors</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-danger" id="new-contributor">New Contributor</button>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control-sm" placeholder="Search" id="search" />
                <button class="btn btn-danger" id="clear">Clear</button>
            </div>
            <div class="col-md-4">
                <h3>Total: @Model.Contributors.Sum(b => b.Balance).ToString("C")</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Deposit</th>
                    <th>Name</th>
                    <th>Cell</th>
                    <th>Balance</th>
                    <th>Always Include</th>
                    <th>Actions</th>
                </tr>
                @foreach (Contributor contributor in Model.Contributors)
                {
                    <tr>
                        <td>
                            <button class="btn btn-success deposit-button" data-contributor-id="@contributor.Id" data-name="@contributor.FirstName @contributor.LastName">Deposit</button>
                        </td>
                        <td>@contributor.FirstName @contributor.LastName</td>
                        <td>
                            @contributor.CellNumber
                        </td>
                        <td>
                             @contributor.Balance.ToString("C") 
                        </td>
                        <td>
                            @(contributor.AlwaysInclude == true ? "yes" : "")
                        </td>
                        <td style="text-align: center;">
                       
                            <a href="/home/history?contribid=@contributor.Id" class="btn btn-primary">Show History</a>
                            <input type="hidden" value="@contributor.CreatedDate" name="createddate">
                            <button data-first-name="@contributor.FirstName" data-last-name="@contributor.LastName"
                                    data-cell="@contributor.CellNumber" data-id="@contributor.Id" data-always-include="@(contributor.AlwaysInclude == true ? true : false)"
                                    class="btn btn-danger edit-contrib">
                                Edit
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="modal fade new-contrib" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Contributor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/home/newcontributor">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" id="contributor_first_name" name="firstName" placeholder="First Name" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" id="contributor_last_name" name="lastName" placeholder="Last Name" type="text">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-md-6">
                                    <label class="form-label">Cell Number</label>
                                    <input class="form-control" id="contributor_cell_number" name="cellNumber" placeholder="Cell Number" type="text">
                                </div>
                                <div class="form-group col-md-6" id="initialDepositDiv">
                                    <label class="form-label">Initial Deposit</label>
                                    <input type="text" class="form-control" name="Balance" placeholder="Initial Deposit">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-md-6 " id="createddate">
                                    <label class="form-label">Created Date</label>
                                    <input class="form-control" id="contributor_created_at" name="createddate" placeholder="Date" type="date">
                                </div>
                                <div>
                                    <div class="form-check mt-3 ml-3">
                                        <input type="checkbox" class="form-check-input" id="contributor_always_include" name="alwaysInclude" value="true">
                                        <label class="form-check-label" for="contributor_always_include">Always Include</label>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="id" id="contributor_id" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade deposit" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deposit for <span id="deposit-name"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/home/makedeposit">
                        <input type="hidden" name="contributorid" id="id"  />
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Amount</label>
                                <input class="form-control" name="amount" placeholder="Deposit Amount" type="text">
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" name="date" class="form-control" id="datepicker">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-primary" name="commit" type="submit" value="Save">
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            @section Scripts {
                <script src="~/js/contributor.js"></script>
            }
